@mixin color-opacity($color, $opacity) {
  color: rgba($color, $opacity);
}

//  щоб викотистати міксину пишемо
// @include color-opacity($колір-із-зміної, $прозорість);

@mixin overlay-bg($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin animation($animName, $time, $function) {
  animation: $animName $time $function;
}
