$colorTextPrimary: #fff;
$colorTextInverted: #fff;
$colorTextAccent: #ffd723;
$colorTextAccentPrimary: #ffd723;
$colorTextTitle: #4d533c;
$colorTextLink: #4d533c;
$colorBlack: #000;
$colorDescriptionOne: rgba(77, 83, 60, 0.9);
$colorDescriptionTwo: rgba(33, 56, 66, 0.6);
$colorSideAdvertising: #d4d6d4;
$colorRank: #152934;
$colorFooterAdvertisings: #b6c197;
$colorFooterARR: #b5c096;
$colorFooterBg: #4f553d;
