$colorTextInverted: #ffffff;
$colorTextAccent: #ffd723;
$colorTextTitle: #4d533c;

$colorTextAccentPrimary: #000000;
$colorTextPrimary: #21384299;
$colorTextLink: #d4d6d4;
$colorTextRank: #152934;
$colorFooterAdvertisings: #b6c197;
$colorBgIcons: #444a34;
$colorBgLight: #fafafa;
$colorBgNav: #eef0e7;
