$colorTextOne: #fff;
$colorBlack: #000;
$colorHover: #ffd723;
$colorDescriptionOne: rgba(77, 83, 60, 0.9);
$colorNamed: #4d533c;
$colorDescriptionTwo: rgba(33, 56, 66, 0.6);
$colorSideAdvertising: #d4d6d4;
$colorRank: #152934;
$colorFooterAdvertisings: #b6c197;
$colorFooterARR: #b5c096;
$colorFooterBg: #4f553d;
