<div class="info">
  <div class="info__container">
    <div class="info__card">
      <h3 class="info__titel">Services</h3>
      <ul class="info__list">
        <li class="info__item">
          <a class="info__link" href="#">Strategy Design</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Product Design</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Content Strategy</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Brand Strategy</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Development</a>
        </li>
      </ul>
    </div>
    <div class="info__card">
      <h3 class="info__titel">Help And Advice</h3>
      <ul class="info__list">
        <li class="info__item">
          <a class="info__link" href="#">How it works</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Contact Support</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Privacy Policy</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="info__card info__line">
      <h3 class="info__titel">Company</h3>
      <ul class="info__list">
        <li class="info__item">
          <a class="info__link" href="#">About</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Blog</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Contact</a>
        </li>
        <li class="info__item">
          <a class="info__link" href="#">Jobs</a>
        </li>
      </ul>
    </div>
    <div class="info__cart---two">
      <h3 class="info__titel">Get in Touch</h3>
      <p class="info__text">Feel free to get in touch with us vai email</p>
      <a class="info__email" href="mailto:info.webovio@gmail.com"
        >info.webovio@gmail.com</a
      >
      <ul class="info__iconts">
        <li class="info__icons__item">
          <a href="#" class="info__icon__link">
            <svg class="info__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="info__icons__item">
          <a href="#" class="info__icon__link"
            ><svg class="info__icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="info__icons__item">
          <a href="#" class="info__icon__link">
            <svg class="info__icon">
              <use href="./images/icons.svg#icon-google"></use>
            </svg>
          </a>
        </li>
        <li class="info__icons__item">
          <a href="#" class="info__icon__link"
            ><svg class="info__icon">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
