<footer class="footer">
  <div class="container footer__container">
    <div class="footer__firstpart">
      <ul class="contact__list">
        <li class="contact__item">
          <span class="footer__contact__gray">Phone</span>
          <a href="tel:+3250312832" class="footer__contact__white">
            <span class="text-hover">+32 50 31 28 32</span>
          </a>
        </li>
        <li class="contact__item">
          <span class="footer__contact__gray">Address</span>
          <a href="#" class="footer__contact__white">
            <span class="text-hover">491 Merlin Crest Suite 963</span>
          </a>
        </li>
      </ul>
    </div>
    <include src="./partials/footer_main.html"></include>
  </div>
</footer>
