<section class="hero">
  <div class="container hero__container">
    <p class="hero__text">A place where</p>
    <h1 class="hero__title">A creative agency for redemptive brands</h1>
    <p class="hero__description">
      Anteelo is a leading strategic design firm that builds powerful digital
      solutions for startups and enterprises.
    </p>
    <svg class="hero__icon">
      <use href="./images/hero.svg#icon-triangle"></use>
    </svg>
    <button class="hero__button button">Get in touch</button>
  </div>
</section>
