<div class="container">
<section class="product">
    <h1 
        class="product__title">
        Deation & Evaluation - 
        Best Way <br> to Kick off 
        Your Product Idea
    </h1>
    
    <div class="products">
        
        <article class="products__card">
            <h2 class="products__title">Product <br> Design Sprint</h2>
            <p class="products__text firts__text">A five-day workshop that <br> will help you answer crucial <br> business questions</p>
            <a href="#" class="products__link">Read More</a>
            
        </article>
        <article class="products__card">
            <h2 class="products__title">Scoping <br> Session</h2>
            <p class="products__text second__text">A workshop aimed at <br> shaping your business <br> idea, answering questions <br> regarding project planning</p>
            <a href="#" class="products__link">Read More</a>
        </article>
        <article class="products__card">
            <h2 class="products__title">UX <br> Review</h2>
            <p class="products__text third__text">An evaluation which will <br> help you radically improve <br> your product.</p>
            <div class="card__container">
            
            <a href="#" class="products__link">
                <svg class="products__icon" width="10px" height="10px">
                    <use src="./images/product-way.svg#icon-deployment-triangle"></use>
                </svg>
                Read More
            </a>
        </div>
        </article>
        <article class="products__card">
            <h2 class="products__title">Code <br> Review</h2>
            <p class="products__text fourth__text">Do you know what one of <br> the key secrets of success <br> 
                is what makes people <br> successful in business</p>
            <a href="#" class="products__link">Read More</a>
        </article>
    </div>
    </section>
</div>