<article>
    <div>
      <picture>
        <source
          srcset="
            ./images/balenciaga/balenciaga@2x.webp 2x,
            ./images/balenciaga/balenciaga.webp    1x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/balenciaga/balenciaga@2x.jpg 2x,
            ./images/balenciaga/balenciaga.jpg    1x
          "
          type="image/jpeg"
        />
        <img src="./images/balenciaga/balenciaga.jpg" alt="balenciaga" />
      </picture>
  
      <div>
        <blockquote>
          <picture>
            <source
              srcset="
                ./images/balenciaga/angel@2x.webp 2x,
                ./images/balenciaga/angel.webp    1x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/balenciaga/angel@2x.jpg 2x,
                ./images/balenciaga/angel.jpg    1x
              "
              type="image/jpeg"
            />
            <img src="./images/balenciaga/angel.jpg" alt="angel" />
          </picture>
  
          <p>
            “In my history of working with trade show vendors, 
            I can honestly say that there is not one company that 
            I've ever worked with that has better service than Exhibit Systems.”
          </p>
  
          <footer>
            <cite>Angel Armstrong</cite>Founder & CEO, Google
          </footer>
        </blockquote>
      </div>
  
      <!-- Текстовый блок справа -->
      <div class="text-content">
        <h2>The wall new Balenciaga.com</h2>
        <p>This article is floated online with an aim to help you find the best dvd printing solution.</p>
        <p>Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.</p>
        <a href="#" class="case-study-link">See Case Study</a>
      </div>
    </div>
  </article>
  
  <!-- Второй блок -->
  <article>
    <div>
      <picture>
        <source
          srcset="
            ./images/3d-model/3d-model@2x.webp 2x,
            ./images/3d-model/3d-model.webp    1x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/3d-model/3d-model@2x.jpg 2x,
            ./images/3d-model/3d-model.jpg    1x
          "
          type="image/jpeg"
        />
        <img src="./images/3d-model/3d-model.jpg" alt="3d-model" />
      </picture>
  
      <div>
        <blockquote>
          <picture>
            <source
              srcset="
                ./images/3d-model/lina@2x.webp 2x,
                ./images/3d-model/lina.webp    1x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/3d-model/lina@2x.jpg 2x,
                ./images/3d-model/lina.jpg    1x
              "
              type="image/jpeg"
            />
            <img src="./images/3d-model/lina.jpg" alt="lina" />
          </picture>
  
          <p>
            “I know they are going to be honest with me. 
            I am not going to get a subpar product; I know it
            is going to be good. That is the number one advantage 
            of working with Exhibit Systems.”
          </p>
  
          <footer>
            <cite>Lina Hart</cite>Founder & CEO, Jico
          </footer>
        </blockquote>
      </div>
  
      <!-- Текстовый блок справа -->
      <div class="text-content">
        <h2>Is this the future of 3D model?</h2>
        <p>
            While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a
            good job of capturing our feelings about space.
        </p>
        <p>
            It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
        </p>
        <a href="#" class="case-study-link">See Case Study</a>
      </div>
    </div>
  </article>
  
  <!-- Третий блок -->
  <article>
    <div>
      <picture>
        <source
          srcset="
            ./images/booking/booking@2x.webp 2x,
            ./images/booking/booking.webp    1x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/booking/booking@2x.jpg 2x,
            ./images/booking/booking.jpg    1x
          "
          type="image/jpeg"
        />
        <img src="./images/booking/booking.jpg" alt="booking" />
      </picture>
  
      <div>
        <blockquote>
          <picture>
            <source
              srcset="
                ./images/booking/eunice@2x.webp 2x,
                ./images/booking/eunice.webp    1x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/booking/eunice@2x.jpg 2x,
                ./images/booking/eunice.jpg    1x
              "
              type="image/jpeg"
            />
            <img src="./images/booking/eunice.jpg" alt="eunice" />
          </picture>
  
          <p>
            “Exhibit Systems is not a provider. 
            They are not a supplier. They are a partner 
            with expertise in making trade shows effective.”
          </p>
  
          <footer>
            <cite>Eunice Oliver</cite>Founder & CEO, Zeem
          </footer>
        </blockquote>
      </div>
  
      <!-- Текстовый блок справа -->
      <div class="text-content">
        <h2> Is this the future of Online Booking</h2>
        <p>You should be able to find several indispensable facts about motivation in the following paragraphs. </p>
        <p>If there’s at least one fact you didn’t know before, imagine the difference it might make.</p>
        <a href="#" class="case-study-link">See Case Study</a>
      </div>
    </div>
  </article>
  