<section class="work">
  <div class="container work__container">
    <div class="work__body">
      <h2 class="work__title">What we do for you</h2>
      <h3 class="work__subtitle">
        Strategy. Design Content. Technology Development
      </h3>
      <p class="work__text">
        There’s no secret sauce, no wizard behind the curtain. What makes
        Aerolab tick is an interdisciplinary team with a framework that fosters
        candid collaboration.
      </p>
      <a class="work__link" href="#">More know About us</a>
    </div>
    <article class="work__quote">
      <blockquote class="quote__text">
        With More than 10 Years of Knowledge and Expertise we Design and Code
        Websites and Apps, We Build Brands and Help Them Succeed
      </blockquote>
      <div class="work__author">
        <picture class="autor__image">
          <source
            srcset="
              ./images/genevieve/genevieve.webp    1x,
              ./images/genevieve/genevieve@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/genevieve/genevieve.jpg    1x,
              ./images/genevieve/genevieve@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img src="./images/genevieve/genevieve.jpg" alt="Genevieve" />
        </picture>
        <p class="quote__text">Genevieve Rodriquez</p>
        <h4 class="quote__title">Founder & CEO, Webovio</h4>
      </div>
    </article>
  </div>
</section>
