.footer {
  background-image: image-set(
    url(../images/FooterBgImages/footer-bg-image.webp) type('image/webp'),
    url(../images/FooterBgImages/footer-bg-image.jpg) type('image/jpeg')
  );
  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url(../images/FooterBgImages/footer-bg-image@2x.webp) type('image/webp'),
      url(../images/FooterBgImages/footer-bg-image@2x.jpg) type('image/jpeg')
    );
  }
  padding-top: 280px;
  padding-bottom: 52px;
  background-size: cover;
  background-repeat: no-repeat;

  .footer__firstpart {
    padding-bottom: 60px;
  }
  .contact__list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contact__gray {
    color: $colorFooterAdvertisings;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .footer__contact__white {
    color: $colorTextInverted;
    font-weight: 700;
    font-size: 16px;
    line-height: 250%;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  .footer__contact__white:hover {
    transform: scale(1.2);
    text-shadow: 0px 5px 10px rgba(172, 189, 42, 1);
  }
  @media (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 40px;
    .contact__list {
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }
    .contact__item {
      align-items: flex-start;
      margin-top: 0;
    }
  }
  @media (min-width: 1025px) {
    padding-top: 280px;
    padding-bottom: 52px;
    .contact__list {
      gap: 80px;
    }
  }
}

.info__titel {
  font-weight: 600;
  line-height: 237%;
  text-transform: uppercase;
  color: $colorTextInverted;
}
.info__link {
  font-weight: 400;
  color: $colorFooterAdvertisings;
  line-height: 250%;
}
.info__text {
  font-weight: 400;
  line-height: 162%;
  color: $colorFooterAdvertisings;
}
.info__email {
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  color: $colorTextInverted;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #5d6544;
}
.info__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
