.info__titel {
  text-align: center;
  font-weight: 600;
  line-height: 237%;
  text-transform: uppercase;
  color: $colorTextInverted;
  margin-bottom: 10px;
}
.info__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info__item {
  text-align: center;
}
.info__link {
  font-weight: 400;
  color: $colorFooterAdvertisings;
  line-height: 250%;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.info__link:hover {
  text-decoration: underline;
  color: $colorTextAccent;
}
.info__text {
  text-align: center;
  font-weight: 400;
  line-height: 162%;
  color: $colorFooterAdvertisings;
}
.info__email {
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  color: $colorTextInverted;
  text-align: center;
}
.info__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #50583b;
}
.info__card {
  position: relative;
}
.info__card::after {
  content: '';
  right: 0;
  left: 0;
  width: 100%;
  bottom: -20px;
  height: 1px;
  position: absolute;
  background-color: #5d6544;
  z-index: 0;
}
.info__icon {
  width: 20px;
  height: 20px;
  fill: #5e6648;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.info__icon__link:hover .info__icon {
  fill: $colorTextInverted;
}
.info__iconts {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.info__icon__link {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #444a34;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.info__icon__link:hover {
  background-color: $colorTextAccent;
}
