.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__title {
  font-size: 20px;
  font-weight: 500;
  color: $colorTextTitle;
  text-align: center;
  margin-bottom: 15px;
}
.form__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__contact {
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-bottom: 20px;
  }
}
.form__label {
  font-size: 14px;
  color: $colorTextRank;
  margin-bottom: 10px;
}
.form__input {
  border: 1px dashed $colorTextPrimary;
  border-radius: 5px;
  padding: 5px;
  transition: color, border 0.5s;
  &:hover {
    color: $colorTextAccent;
    border-color: $colorTextAccent;
  }
}
.form__textarea {
  font-size: 14px;
  @include color-opacity($colorTextTitle, 0.9);
  border: 1px dashed $colorTextPrimary;
  border-radius: 5px;
  height: 100px;
  padding: 15px 15px;
  resize: none;
  margin-bottom: 20px;
  transition: color, border 0.5s;
  &:hover {
    color: $colorTextAccent;
    border-color: $colorTextAccent;
  }
}
.form__submit {
  font-size: 15px;
  font-weight: 500;
  border: 1px solid $colorBgIcons;
  border-radius: 5px;
  padding: 5px 20px;
  align-self: center;
  border-color: $colorTextAccent;
  transition: color, background-color, border 0.5s;
  &:hover {
    color: $colorTextInverted;
    background-color: $colorTextAccent;
    border: none;
  }
}
@media (min-width: 768px) {
  .form__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .form__input {
    padding: 10px;
  }
  .form__textarea {
    font-size: 16px;
    height: 130px;
  }
  .form__submit {
    font-size: 18px;
    padding: 5px 30px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .form__submit {
    font-size: 20px;
    padding: 5px 30px;
  }
}
