.start {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-color: $colorBgLight;
  z-index: 2;
}
.start__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23333;
  color: $colorTextTitle;
  margin-bottom: 20px;
}
.start__button {
  font-weight: 700;
  color: $colorTextLink;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  transition: color 0.5s;
  &:hover {
    color: $colorTextTitle;
  }
}
@media (min-width: 768px) {
  .start {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 90px;
  }
  .start__title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .start__button {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .start {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 160px;
    width: 88%;
    position: relative;
    top: 190px;
  }
  .start__title {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
