// HERO__CONTAINER
.hero__container {
  flex-grow: 1;
}
// HERO
.hero {
  background-image: image-set(
    url(../images/backgrounds/hero-bg.webp) type('image/webp'),
    url(../images/backgrounds/hero-bg.jpg) type('image/jpeg')
  );
  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url(../images/backgrounds/hero-bg@2x.webp) type('image/webp'),
      url(../images/backgrounds/hero-bg@2x.jpg) type('image/jpeg')
    );
  }
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
// HERO__STYLE__TEXT
.hero__text {
  font-size: 16px;
  color: $colorTextInverted;
  margin-bottom: 22px;
  text-align: center;
}
.hero__title {
  font-weight: 700;
  font-size: 45px;
  max-width: 616px;
  line-height: 1.23;
  color: $colorTextInverted;
  margin-bottom: 24px;
  text-align: center;
}
.hero__description {
  color: $colorTextInverted;
  margin-bottom: 45px;
  text-align: center;
}
.hero__button {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $colorTextAccent;
  text-align: center;
}
@media (min-width: 780px) {
  .hero__text {
    font-size: 16px;
    text-align: left;
  }
  .hero__title {
    font-weight: 700;
    font-size: 45px;
    text-align: left;
  }
  .hero__description {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
  }
  .hero__title {
    font-size: 60px;
  }
}
