.project {
  padding-top: 162px;
}

.project-title {
  color: #4d533c;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project-subtitle {
    color: rgba(33, 56, 66, 0.60);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}