.work {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.work__container {
  display: flex;
}
.work__body {
  width: 475px;
  margin-right: 160px;
}
.work__title {
  font-family: var(--font-family);
  color: $colorTextTitle;
  font-size: 14px;
}
.work__subtitle {
  font-weight: 700;
  font-family: var(--font-family);
  font-size: 36px;
  color: $colorTextTitle;
  margin-top: 29px;
}
.work__text {
  font-family: var(--font-family);
  color: $colorTextPrimary;
  margin-bottom: 42px;
}
.work__link {
  color: $colorTextLink;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
// --------------------------------quote
.work__author {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.work__quote {
  max-width: 474px;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 8px;
}
.author__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: $colorTextTitle;
}
.autor__image {
  width: 90px;
}
.author__meta {
  margin-left: 50px;
}
.quote__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: $colorTextTitle;
}
.author__role {
  font-family: var(--font-family);
  color: $colorTextRank;
}
