.work {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.work__container {
  display: flex;
}
.work__author {
  display: flex;
}
.autor__image {
  width: 90px;
}
.work__title {
  font-family: var(--font-family);
  color: $colorTextTitle;
  font-size: 14px;
}
.work__subtitle {
  font-weight: 700;
  font-family: var(--font-family);
  font-size: 36px;
  color: $colorTextTitle;
}
.work__text {
  font-family: var(--font-family);
  color: $colorTextPrimary;
}
.work__link {
  color: $colorTextLink;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.quote__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: $colorTextTitle;
}
.quote__title {
  font-family: var(--font-family);
  color: $colorTextRank;
}
